<section class="credito">
    <div class="info">
        <h1>Atividade blablabla</h1>
    </div>
    <div class="func">
        <div>
            <h3>Credito Atual</h3>
        </div>
        <div>
            <input 
            readonly 
            type="text" 
            id="credito"
            [value]="getCredito">
        </div>
        <div class="deb">
            <button (click)="credita(-1)">Debitar</button>
        </div>
        <div class="option">
            <button (click)="credita(1)">R$1</button>
            <button (click)="credita(10)">R$10</button>
            <button (click)="credita(100)">R$100</button>
        </div>
    </div>
</section>